{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 >This is the home page</h1>
            <p>Here is some content</p>
            <img src="../static/house.jpg">
        </div>
    </div>
</div>
{{end}}