{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="static/marjors-suite.png" alt="room image" class="img-fluid mx-auto d-block img-thumbnail room-image">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Major's Suite</h1>
                <p>Your home away from on the shores of the east coast</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet magni laborum necessitatibus facilis
                    voluptatibus repellendus neque dolores animi ex, accusamus, doloremque fugit tempora consequatur
                    dicta earum dolorum officiis doloribus dolor? Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. At eum ipsa deleniti repudiandae minus doloribus voluptatem modi eos saepe laboriosam
                    consectetur cumque veritatis alias, earum nisi ut quis! Nulla, adipisci. Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Autem minima distinctio accusantium atque consequuntur debitis odit
                    iure eaque laborum architecto. Dicta provident inventore asperiores. Dolor, iusto autem. Cum, eos
                    harum?
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="/make-reservation-gq" class="btn btn-success">Check Availability</a>

            </div>
        </div>
    </div>
{{end}}